<h2>List Products</h2>
<%= link_to "<button>New</button>".html_safe, new_admin_product_path %>
<table style="width:100%">
	<tr>
		<th>id</th>
		<th>Name</th>
		<th>Action</th>
	</tr>
	<% @products.map do |product| %>
		<tr>
			<td><%= product.id %></td>
			<td><%= product.name %></td>
			<td>
				<%= link_to "<button class='btn btn-success'>View</button>".html_safe, admin_product_path(product) %>
				<%= link_to "<button class='btn btn-info'>Edit</button>".html_safe, edit_admin_product_path(product) %>
				<%= link_to "<button class='btn btn-danger'>Delete</button>".html_safe, admin_product_path(product), method: :delete %>
			</td>
		</tr>
	<% end %>
</table>
<style>
table {
	margin-top: 10px;
}
th, td {
  border:1px solid black;
}
</style>