<div class="header_top d-flex">
  <div class="header_top_left">
    <li class="nav-item active">
      <a class="nav-link font_family" href="tel:0901966516">Hotline: 0901966516<span class="sr-only">(current)</span></a>
    </li>
  </div>
  <div class="header_top_right">
    <ul class="d-flex">
      <div class="dropdown d-flex align-items-center">
        <a class="dropdown-toggle nav-link font_family" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tiếng Việt 
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item nav-link-line font_family" href="#">English</a>
          <a class="dropdown-item nav-link-line font_family" href="#">Japan</a>
        </div>
      </div>
      <form class="form-inline my-2 my-lg-0 font_family">
          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t(".profile"), current_user , class: "dropdown-item" %></li>
                <li><%= link_to t(".settings"), edit_user_path(current_user), class: "dropdown-item" %></li>
                <li><% if current_user.admin? %>
                    <%= link_to "Manager", admin_root_path , class: "dropdown-item" %>
                    <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to t(".logout"), logout_path, method: :delete , class: "dropdown-item" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t(".login"), login_path %></li>
            <li class="nav-link">|</li>
            <li><%= link_to t(".signup"), signup_path %></li>
          <% end %>
      </form>
    </ul>
  </div>
</div>
